/* To Do:

change color palette
change font-style
banner image scaling doesn't work properly yet, how to maintain the original image ratio when resizing the page?
when zooming in and out, item scaling changes drastically: how to maintain item scaling when zooming?
set header as fixed nav bar?
*/


html {
  font-size: 16px;
  font-style: Helvetica, sans-serif;
}

.bold {
  font-weight: bold;
}

.main_content_block {
  display: flex;
  height: 40rem;
}

.left_content_block {
  width: 60%;
  max-height: 100%;
  display: flex;
  padding: 2rem .75rem 2rem 1.5rem;
}

.right_content_block {
  width: 40%;
  max-height: 100%;
  display: flex;
  padding: 2rem 0 2rem .75rem;
}

/* header section */

header {
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c94c4c;
  color: white;
}

.icon_section {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  height: 2rem;
}

.colmar {
  color: black;
}

.academy {
  color: white;
}

nav ul {
  display: flex;
  padding-right: 0.5rem;
}

nav ul li {
  margin-right: 1rem;
}

/* banner content section */

.banner .left_content_block {
  background-color: lightgrey;
}

.banner img {
  max-width: 100%;
  height: auto;
  display: block;
}

.banner .right_content_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: lightgrey;
}

.banner .right_content_block h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.banner .right_content_block h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.banner .right_content_block p {
  font-size: 1.25rem;
  width: 50%;
  padding: 0.5rem;
  background-color: black;
  color: white;
  text-align: center;
}
