/* To Do:

change color palette
change font-style
banner image scaling doesn't work properly yet, how to maintain the original image ratio when resizing the page?
when zooming in and out, item scaling changes drastically: how to maintain item scaling when zooming?
set header as fixed nav bar?
add a border around the main container?
in right info_section the bottom of the second small image should align with the bottom of the big info picture, scaling somewhat wrong.
  -110% image size fits... why?
chaning wrong so far?
*/


html {
  font-size: 16px;
  font-style: Helvetica, sans-serif;
}

.bold {
  font-weight: bold;
}

.main_container {
  width: 1024px;
  margin: 0 auto;
  display: flex;
}

.left_content_block {
  width: 60%;
  display: flex;
  padding: 2rem .75rem 2rem 1.5rem;
}

.right_content_block {
  width: 40%;
  display: flex;
  padding: 2rem 0 2rem .75rem;
}

.primary_background_color {
  background-color: #c94c4c;
}

/* can the transition class actually be used? */

.transition_background_color {
  background-color: orange;
}

.secondary_color {
  color: black;
}

.tertiary_color {
  color: white;
}

/* header section */

header {
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.desktop_logo_section {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  height: 2rem;
}

.mobile_nav_section {
  display: none;
}

@media only screen and (max-width: 480px) {
  .desktop_logo_section, .desktop_nav_section {
    display: none;
  }

  .main_container {
    width: 100%;
    flex-direction: column;
    min-width: 320px;
  }

  .mobile_nav_section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 4rem;
  }
}

.colmar {
  color: black;
}

.academy {
  color: white;
}

nav ul {
  display: flex;
  padding-right: 0.5rem;
}

nav ul li {
  margin-right: 1rem;
  transition: all 0.5s;
}

nav ul li:hover {
  color: orange;
}

/* banner content section */

.banner.left_content_block {
  background-color: lightgrey;
}

.banner_img_container img {
  max-width: 100%;
  height: auto;
  display: block;
}

.banner.right_content_block {
  flex-direction: column;
  justify-content: center;
  background-color: lightgrey;
}

.banner.right_content_block h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.banner.right_content_block h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.banner.right_content_block a {
  font-size: 1.25rem;
  width: 50%;
  padding: 0.5rem;
  color: white;
  text-align: center;
  transition: all 0.5s;
}

.banner.right_content_block a:hover {
  background-color: orange;
}

.mobile.banner.right_content_block{
  display: none;
}

@media only screen and (max-width: 480px) {

  .banner.left_content_block {
    width: 100%;
    padding: 0 0 0 0;
  }

  .banner_img_container {
    width: 100%;
  }

  .banner_img_container img {
    max-width: 100%;
  }

  .desktop.banner.right_content_block {
    display: none;
  }

  .mobile.banner.right_content_block {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 0 2rem 0;
  }

  .banner_img_container {
    width: 100%;
  }

  .banner.right_content_block h1 {
    font-size: 2.5rem;
    padding: 2rem 0 2rem 1rem;
    margin: 0;
    font-weight: bold;
  }

  .banner.right_content_block h4 {
    font-size: 1.5rem;
    padding: 0 0 1.5rem 1rem;
    margin: 0;
  }

  .banner.right_content_block a {
    font-size: 1.25rem;
    width: 86%;
    padding: 0.5rem;
    margin: 0 auto;
    color: white;
    text-align: center;
    transition: all 0.5s;
  }
}

/* information section */

.info_section.left_content_block {
  flex-direction: column;
  background-color: darkgrey;
}

.main_info_img_container {
  width: 100%;
  overflow: hidden;
}

.main_info_img_container img {
  max-width: 100%;
  height: auto;
  display: block;
}

.main_info_text {
  display: flex;
  flex-direction: column;
  padding: 2rem 0 0 0;
}

.main_info_text h2 {
  font-size: 2rem;
  padding-bottom: 1.5rem;
  font-weight: bold;
}

#mit_lastp {
  padding-top: 1.5rem;
}

.info_section.right_content_block {
  background-color: darkgrey;
}

.info_section_right {
  display: flex;
  flex-direction: column;
}

.info_item {
  display: flex;
}

/* adding a transition value for hovering when selection info_items doesn't seem to work, why? */

.info_item_img {
  width: 35%;
  overflow: hidden;
}

.info_item_img img {
  max-width: 110%;
  height: auto;
  display: block;
}

.info_item_text {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
}

#info_item1, #info_item2 {
  padding-bottom: 1rem;
}

#info_item2, #info_item3 {
  padding-top: 1rem;
}

.info_item_text h3 {
  font-size: 1.5rem;
  margin-bottom: .5rem;
  font-weight: bold;
}

.info_item_text h4 {
  margin-bottom: .5rem;
}

.info_item_text a {
  color: #c94c4c;
  transition: all 0.5s;
}

.info_item_text a:hover {
  color: orange;
}

.mobile.info_item_img {
  display: none;
}

@media only screen and (max-width: 480px) {

  .info_section.left_content_block {
    display: none;
  }

  .info_section.right_content_block {
    width: 100%;
    padding: 0;
  }

  .info_item {
    flex-direction: column;
    padding: 1rem 1rem;
  }

  .info_item_img {
    width: 100%;
    overflow: hidden;
  }

  .info_item_img img {
    max-width: 100%;
  }

  .desktop.info_item_img {
    display: none;
  }

  .mobile.info_item_img {
    display: block;
  }

  .info_item_text {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }

  .info_item_text h3 {
    padding-top: 1rem;
  }

}

/* course section */

.course_section {
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
}

.course_section_heading h2 {
  text-align: center;
  font-size: 2rem;
  padding: 2rem 0;
  font-weight: bold;
}

.course_section_courses_box {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  padding: 0 4.5rem 2rem 4.5rem;
  margin: 0 auto;
  justify-content: space-between;
  align-items: space-between;
}

.course {
  display: flex;
  flex-direction: column;
  width: 30%;

  /* 30.9% seems to be according to specs */
  /* how do i determine the correct width needed? */

  background-color: white;
  transition: color 0.5s;
}

.course:hover {
  color: orange;
  /* ideally adding a border without moving the elements when hovering */
}

#course1, #course2, #course4, #course5 {
  margin-right: 1rem;
}

#course2, #course3, #course5, #course6 {
  margin-left: 1rem;
}

#course1, #course2, #course3 {
  margin-bottom: 1rem;
}

#course4, #course5, #course6 {
  margin-top: 1rem;
}

.course_image_box {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.course_image {
  max-width: 100%;
  height: auto;
  display: block;
}

.course_text_box {
  padding: 1rem 0 1.5rem 1rem;
}

.course_text_box h3 {
  font-size: 1.5rem;
  margin-bottom: .5rem;
  font-weight: bold;
}

.course_text_box h4 {
  font-size: 1rem;
  margin-bottom: .5rem;
}

@media only screen and (max-width: 480px) {

  .course-image_box {
    display: none;
  }

  .course_section_courses_box {
    flex-direction: column;
    width: 100%;
    padding: 0 0 1.5rem 0;
  }

  #course1, #course2, #course3, #course4, #course5, #course6 {
    padding: 1rem 1rem 1.5rem 1rem;
    margin: 0 auto .5rem auto;
    width: 85%;
    background-color: darkgrey;
  }

  .course_text_box {
    padding: 0;
    margin: 0;
  }

  .course_text_box h4, .course_text_box p {
    display: none;
  }

  .course_text_box h3 {
    padding: 0;
    margin: 0;
  }
}


/* thesis section */
.thesis_section {
  background-color: darkgrey;
  display: flex;
  flex-direction: column;
}

.thesis_content_box {
  display: flex;
  width: 100%;
}

.thesis_section_heading h2 {
  text-align: center;
  font-size: 2rem;
  padding: 2rem 0 0 0;
  font-weight: bold;
}

.thesis.left_content_block {
  flex-direction: column;
}

.thesis.right_content_block {
  flex-direction: column;
}

.thesis_video_box {
  width: 100%;
  overflow: hidden;
}

.thesis_video_box video {
  max-width: 100%;
  display: block;
}

.thesis_main_text_box h3 {
  padding: 1.5rem 0 .5rem 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.thesis {
  display: flex;
}

.thesis_image_box {
  width: 35%;
  overflow: hidden;
}

.thesis_image_box img {
  max-width: 110%;
  height: auto;
  display: block;
}

.thesis_text_box {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
}


#thesis1 {
  padding-bottom: 2rem;
}

.thesis_text_box h3 {
  font-size: 1.5rem;
  margin-bottom: .5rem;
  font-weight: bold;
}

.thesis_text_box h4 {
  margin-bottom: .5rem;
}

@media only screen and (max-width: 480px) {

  .thesis_section_heading h2 {
    padding: 2rem 0 1rem 0;
    font-weight: bold;
  }

  .thesis.left_content_block {
    width: 100%;
    padding: 0;
  }

  .thesis.right_content_block {
    display: none;
  }

  .thesis_main_text_box {
    display: none;
  }

  .thesis_video_box {
    width: 100%;
    margin-bottom: 2rem;
  }

  .thesis_video_box video {
    max-width: 100%;
  }

}

/* footer section */

footer {
  display: flex;
  background-color: lightgrey;
  justify-content: space-between;
  height: 4rem;
}

footer p {
  padding: 1rem 0 0 1.5rem;
}

footer ul {
  display: flex;
}

footer ul li {
  padding: 1.5rem 1.5rem 0 0;
}

@media only screen and (max-width: 480px) {

  footer {
    height: auto;
  }

  footer p {
    text-align: center;
    padding: 1rem 0;
  }

  footer ul {
    display: none;
  }
}
